<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    создаем бин со след параметрами конструктора:-->
    <bean id="client" class="com.yet.spring.core.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
        <property name="greeting" value="Hello there!"/>
    </bean>

    <import resource="loggers.xml"/>    <!--импорт бинов из отдельного файла-->

    <!--    создаем бин Арр и добавляем ему зависимость с бинами client и eventLogger:-->
    <bean id="app" class="com.yet.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO"
                       value-ref="consoleEventLogger"/>
                <entry key="ERROR"
                       value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>
    </bean>

    <!--создаем бин Event с параметрами конструктора, в которых создаются другие бины.
    scope="prototype" - означает, что при вызове бина будет всегда создаваться новый бин,
    следовательно и внутренние бины будут создаваться каждый раз новые-->
    <bean id="event" class="com.yet.spring.core.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>
</beans>